################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/APP_NewGIT/FileContentIndex/5843437d-5ad0-4147-86c9-2f23b781eb51.vsidx
/.vs/APP_NewGIT/FileContentIndex/1978a836-ac81-4443-9fa6-a84a9f3b91cd.vsidx
/.vs/APP_NewGIT/FileContentIndex/1a2bcbdb-69e6-46a4-83e7-77b4d5465a1e.vsidx
/.vs/APP_NewGIT/FileContentIndex
